* {
    font-family: sans-serif;
    transition: 0.4s;
}

body {
    background-color: rgb(172, 115, 48)
}
.accordeon {
    border: 1px solid rgba(146, 146, 146, 0.3);
    width: 100%;
    margin: 10px auto;
}

.titre {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(146, 146, 146, 0.3);
    -webkit-box-shadow: 0px 8px 16px rgba(146, 146, 146, 0.3);
    -moz-box-shadow: 0px 8px 16px rgba(146, 146, 146, 0.3);
}

.titre p {
    font-weight: 700;
}

.contenu {
    padding: 0 20px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.accordeon.open .contenu {
    padding: 30px 20px;
    height: auto;
    visibility: visible;
}

.accordeon.open .titre span {
    transform-origin: center;
    transform: rotate(90deg);
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    left: 0;
}

.sidenav.close{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

nav {
    padding: 0 10px;
    background-image: url(image/banniere\ 2.0\ lotr.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 300%;
    height: 140px;
    position: relative;
}

.boutonmenu {
    text-decoration: none;
    color: rgb(248, 223, 17);
    background-color: black;
    padding: 0px 10px;
}

.image {
    height: 100px;
}

html, body {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 75px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: fit-content;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: min-content;
    margin: 20px;
    grid-gap: 20px;
}

.logo {
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto 0;
    display: grid;
    place-items: center;
}